* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Pretendard', sans-serif;
}

a {
  color: #000;
}

li {
  list-style: none;
}

/* FuturaNowHeadline */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: url('./assets/font/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('./assets/font/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('./assets/font/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('./assets/font/Pretendard-Regular.woff') format('woff');
}
